- @section = (params[:metro_area_id] ? 'metro_area' : 'users')


.row
  .span9
    -box :class => "user_list" do
      %h3=:site_members.l :site => configatron.community_name

      = paginate @users
  
      %br.clear
  
      = render :partial => "users/user", :collection => @users
      
      %br.clear
      = paginate @users
  .span3
    = render :partial => 'users/search_options'
